/* Element Selectors */
body,
html,
main {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: row;
}

button {
  background-color: white;
  border: none;
  height: 150px;
  font-size: 5rem;
  outline: none;
}

h1 {
  display: flex;
  justify-content: flex-start;
}

h2 {
  display: flex;
  padding-top: 20px;
}

h3 {
  align-items: flex-start;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  margin: 0px;
}

section {
  display: flex;
  flex-direction: row;
}

/* Columns */
.heart-column,
.star-column {
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 25%;
}

.heart-column {
  background: linear-gradient(#A4FEFA, #FF83D3);
}

.star-column {
  background: linear-gradient(#A4FEFA, #FF83D3);
}

/* Game Board */
.game-background {
  align-items: center;
  background-color: white;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
}

.game-board {
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0px;
  height: 350px;
  padding-top: 50px;
  width: 40vw;
}

/* Board Pieces */
.a1 {
  border-bottom: 6px solid #A4FEFA;
  border-right: 6px solid #A4FEFA;
  grid-area: 1 / 1 / 2 / 2;
}

.a2 {
  border-bottom: 6px solid #A4FEFA;
  border-left: 6px solid #A4FEFA;
  border-right: 6px solid #A4FEFA;
  grid-area: 1 / 2 / 2 / 3;
}

.a3 {
  border-bottom: 6px solid #A4FEFA;
  border-left: 6px solid #A4FEFA;
  grid-area: 1 / 3 / 2 / 4;
}

.b1 {
  border-bottom: 6px solid #A4FEFA;
  border-right: 6px solid #A4FEFA;
  border-top: 6px solid #A4FEFA;
  grid-area: 2 / 1 / 3 / 2;
}

.b2 {
  border-bottom: 6px solid #A4FEFA;
  border-left: 6px solid #A4FEFA;
  border-right: 6px solid #A4FEFA;
  border-top: 6px solid #A4FEFA;
  grid-area: 2 / 2 / 3 / 3;
 }

.b3 {
   border-bottom: 6px solid #A4FEFA;
   border-left: 6px solid #A4FEFA;
   border-top: 6px solid #A4FEFA;
   grid-area: 2 / 3 / 3 / 4;
}

.c1 {
  border-right: 6px solid #A4FEFA;
  border-top: 6px solid #A4FEFA;
  grid-area: 3 / 1 / 4 / 2;
}

.c2 {
  border-left: 6px solid #A4FEFA;
  border-right: 6px solid #A4FEFA;
  border-top: 6px solid #A4FEFA;
  grid-area: 3 / 2 / 4 / 3;
}

.c3 {
  border-left: 6px solid #A4FEFA;
  border-top: 6px solid #A4FEFA;
  grid-area: 3 / 3 / 4 / 4;

}
