/* Element Selectors */
html,
body,
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {


}

h2 {
  display: flex;
  padding-top: 20px;

}

body {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;

}

article {
  height: 10px;
  width: 10px;
}

div {

}

/* Columns */

.star-column,
.heart-column {
  height: 100%;
  width: 25%;
  justify-content: center;

}

.star-column {
  background: linear-gradient(#A4FEFA, #FF83D3);

}

.heart-column {
  background: linear-gradient(#A4FEFA, #FF83D3);
}

.star-wins,
.heart-wins {

}

.star-wins {

}

.heart-wins {

}

/* Game Board */

.game-background {
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  weight: 50vw;


}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: grey;
  width: 300px;
  height: 300px;


}


/* Board Pieces */

.a1,
.a2,
.a3 {



}


.b1,
.b2,
.b3  {

align-items: center;

}

.a1 { grid-area: 1 / 1 / 2 / 2; }
.a2 { grid-area: 1 / 2 / 2 / 3; }
.a3 { grid-area: 1 / 3 / 2 / 4; }
.b1 { grid-area: 2 / 1 / 3 / 2; }
.b2 { grid-area: 2 / 2 / 3 / 3; }
.b3 { grid-area: 2 / 3 / 3 / 4; }
.c1 { grid-area: 3 / 1 / 4 / 2; }
.c2 { grid-area: 3 / 2 / 4 / 3; }
.c3 { grid-area: 3 / 3 / 4 / 4; }

.heart-square {
  background-image: url('assets/heart.png');
}

.star-square {
  background-image: url('assets/star.png');
}

/*Board Lines */

.line-1-2,
.line-2-3 {
  background-color: red;
  height: 300px;
}

.line-a-b,
.line-b-c {

}

.line-1-2 {

}

.line-2-3 {

}

.line-a-b {

}

.line-b-c {

}
